$primary: #0077B6;
$primaryDark: #284D88;
$secondary: #FFA700;
$red: #E63946;
$green: #00A87E;
$primaryText: #333333;
$secondaryText: #777777;
$background: #F5F5F5;
$backgroundDark: #1A1A1A;
$borders: #D9D9D9;
